.App {
  text-align: center;
  background-color: #f2f4f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.Center {
  align-items: center;
}

.App-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.Text {
  color: dimgrey;
}